:root {
	--primary-title-color: #2e2f42;
	--primary-text-color: #434455;
	--secondary-background-color: #2e2f42;
	--hover-link-color: #404bbf;
}
/* --------global style reset------ */
/* --------------------------------- */

body {
	background-color: #fff;
	color: #434455;

	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;

	list-style: none;
}

ul {
	list-style-type: none;
}

/* ---------logo head------------ */
.logo-head,
.logo-footer {
	font-family: Raleway;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.33;
	letter-spacing: 0.03em;
}
.logo-head {
	color: var(--primary-title-color);
}
/* ------------logo footer---------- */
.logo-footer {
	color: #f4f4fd;
}
.logo-web {
	color: #4d5ae5;
}

/* delating outlines of the links  */
a {
	text-decoration: none;
}
/* ---------- */

.navigation-links .link {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;

	color: var(--primary-title-color);
}

.navigation-links .link:focus,
.navigation-links .link:hover {
	color: var(--hover-link-color);
}

/* changing address font and color */
.address {
	font-style: normal;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;

	color: var(--primary-text-color);
}

.address:focus,
.address:hover {
	color: var(--hover-link-color);
}

.hero-section {
	background-color: var(--secondary-background-color);
	text-align: center;
	margin-bottom: 120px;
}

.hero-section-title {
	font-family: Roboto;
	padding-top: 180px;
	margin-bottom: 48px;
	min-width: 496px;
	color: #fff;
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
}

.hero-section-button {
	padding: 16px 32px;
	margin-bottom: 196px;
	min-width: 169px;
	/* later i will give min width if needed */
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	border-style: solid;
	border-radius: 4px;
	border: none;
	background-color: #4d5ae5;
	color: #fff;
}
.hero-section-button:hover,
.hero-section-button:focus {
	background-color: var(--hover-link-color);
}

h3 {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;

	color: var(--primary-title-color);
}

h2 {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: 0.02em;

	color: var(--primary-title-color);
}
/* section 4 */
.fourth-section {
	background-color: #f4f4fd;
}
.team-card {
	background-color: #fff;
}

footer {
	background-color: var(--secondary-background-color);
	color: #e7e9fc;
}

/* -------------------------------portfolio------------------------------------ */

.portfolio-title {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;

	color: var(--primary-title-color);
}

.kind-of-content {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	color: #434455;
}

.filters-buttons {
	padding: 12px 24px;
	font-family: Roboto;
	background-color: #f4f4fd;
	color: #4d5ae5;
	border-color: #e7e9fc;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
}

.filters-buttons:focus,
.filters-buttons:hover {
	background-color: var(--hover-link-color);
	color: #fff;
}

/* -------------------FLEX-------------------- */
.container {
	width: 1158px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	outline: tomato solid 2px;
}

body {
	margin: 0;
}

header {
	margin-bottom: 8px;
}

.our-work-title {
	text-align: center;
	margin-bottom: 72px;
}

section {
	margin-bottom: 120px;
}

.our-team-title {
	text-align: center;
	margin-bottom: 72px;
	padding-top: 120px;
}

.footer-text {
	width: 264px;
	padding-bottom: 100px;
}

.logo-footer {
	display: block;
	padding-top: 100px;
	margin-bottom: 16px;
}

.logo-head {
	display: block;
	padding-bottom: 24px;
	padding-top: 24px;
	margin-left: 156px;
}
/* -------------flex start--------- */

.navigation-links {
	display: flex;
	margin-left: 76px;
}

.nav-link-item {
	display: block;
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: tomato;
}
.nav-link-item:last-child {
	margin-right: 0;
}
.nav-link-item:not(:last-child) {
	margin-right: 40px;
}

.address-link {
	display: flex;
}
.addess-link-item:not(:last-child) {
	margin-right: 40px;
}
.addess-link-item {
	display: block;
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: tomato;
}

.header-line {
	display: flex;
}

nav {
	display: flex;
	align-items: center;
}
